body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e2dede;
  color: #333;
}

header {
  background-color: #666364;
  color: #f8f7f2;
  padding: 15px 50px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items: center;
}

#searchForm {
  flex-grow: 1;
  text-align: right;
}

#searchForm input {
  padding: 8px;
  border-radius: 20px;
  border: none;
  width: 200px;
  max-width: 100%;
}

header h1 {
  margin: 0;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}

.hero {
  background: url('https://images.unsplash.com/photo-1602002213341-c0d3f63492f1?auto=format&fit=crop&w=1350&q=80') center/cover no-repeat;
  padding: 100px 30px;
  color: #4b4748;
  text-align: center;
}

.hero .btn {
  display: inline-block;
  margin-top: 20px;
  background-color: #fff;
  color: #c49bbb;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
}

.product-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px;
  gap: 20px;
  background-color: #f9f9f9;
}

.product-card {
  background: white;
  padding: 20px;
  width: 220px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.2s;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  width: 100%;
  border-radius: 8px;
}

.product-card button {
  background-color: #8d898a;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

footer {
  background-color: #eee;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

.banner-container{
  position: relative;
  text-align: center;
}
.banner-img{
  width: 100%
  height: auto;
  border-radius: 20px;

}